.additionInfo{
    width: 100%;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    overflow: hidden;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}
.additionInfo > *{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    width: 0.9rem;
    height: 0.9rem;
    font-size: 0.5rem;
}
.lessonTime{
    padding-left: 0.3rem;
}
.countLessons{
    display: flex;
}