@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
.Course{
    width: 100%;
    height: 150vh;
    max-height: auto;
    display: flex;
    background-color:#ebf5ff;
    /* overflow: auto; */
}
.lesson{
    width: 60%;
    height: 100%;
    /* background-color: aqua; */
    margin-left: 5rem;
    margin-top: 5rem;
}
.lessonList{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 1rem;
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 3rem;
    width: 30%;
    height: 90%;
    background-color: white;
    padding-bottom: 1rem;
    overflow: auto;
}
.lessonList::-webkit-scrollbar {
    display: none;
}
.backButton{
    background-color: #49bbbd;
    border: none;
    justify-self: center;
    margin-left: 1.5rem;
    width: 5%;
    height: 40%;
    border-radius: 0.3rem;
    margin-right: 2rem;
}
.titleName{
    border-radius: 1rem;
    width: 90%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: auto auto;
    font-family: "Poppins", sans-serif;
}
.title{
    width: 100%;
    height: 10%;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}
.content{
    border-radius: 2rem;
    width: 100%;
    height: 40%;
    background-color: white;
}
#courseListName{
    height: auto;
    margin: 2rem 2rem;
    font-size: x-large;
}

#learning{
    display: block;
}
.lessonBigName{
    
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 1.3rem;
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.titleAddition{
    margin-bottom: 5rem;
    margin-top: 0.3rem;
    margin-left: 2rem;
    font-size: 0.9rem;
    font-weight: 400;
}
.icon{
    width: 2rem;
    height: 2rem;
}
.iconSmall{
    width: 1rem;
    height: 1rem;
}
.partName{
    width: 100%;
    display: flex;
     /* grid-template-columns: auto auto; */
} 