.adminContainer{
    display: block;
}
button{
    width: 15rem;
    height: 2rem;
    background: none;
    /* border: none; */
    /* background-color: aqua; */
}
.lessons, .courses, .sections{
    border: 1px solid black;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}
.courses{
    background-color: aqua;
}
.sections{
    background-color:azure;
}