.body{
    width: 100%;
    height: 100vh;
}
.courseImageContainer{
    width: 100%;
    height: 75%;
    padding-top: 20%;
    background-image: url(./images/course.png);
}
.courseImage{
    height: 12rem;
    width: 100%;
}
.courseCard{
    /* padding-top: 50%; */
    margin-left: 70%;
    margin-right: 10%;
    height: auto;
    width: 25%;
    /* border: 1px solid black; */
    border-radius: 1rem;
    padding: 1rem 1rem;
    background-color: white;
    display: block;
}
.priceContainer{
    display: flex;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}
.price{
    font-size: 1.7rem;
    font-weight: 500;
}
.originalPrice{
    text-decoration: line-through;
    color: #999;
    font-size: 1.2rem;
    color: rgb(155, 142, 142);
}
.priceDiscount{
    font-size: 1.2rem;
    color: rgb(155, 142, 142);
}
.timeDiscountLeft{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    color: #49bbbd;
    font-size: 1.1rem;
    font-weight: 500;
}
.buyButton{
    margin: 0.5rem auto;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: #49bbbd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.myCustomLine{
    background: black;
    height: 1px;
    border: none;
}
.courseReviewContainer{
    width: 65%;
}
.courseReview{
    width: 80%;
    margin: 5rem auto;
    height: 35rem;
    /* border: 1px solid black; */
    border-radius: 1rem;
    background-color: #e2f0ff;
}
.inforTitle{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.infor{
    margin: 0.5rem;
    color: #959595;
    font-size: 0.8rem;
    font-weight: 600;
}
.otherCourseContainer{
    width: 100%;
    /* border: 1px solid black; */
    height: 10rem;
}
.courseList{
    width: 100%;
    display: grid;
    height: auto;
    padding: 0 5rem;
    grid-template-columns: repeat(4, 1fr);
    background: #ebf5ff;
    padding-bottom: 5rem;
}
.courseName{
    padding-top: 1rem;
    font-weight: 700;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
}